@font-face {
    font-family: DKpoisonIvy;
    src: url(../fonts/DK_Poison_Ivy.otf);
}

body {
	background-color: black;
	margin: 0;
  font-family: DKpoisonIvy;
  color: white;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

div {
  display: block;
}

.div-video {
  display:none;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: fixed;
}

#div-main {
  background-image:url("../../q1/pictures/title.gif");
}
#div-intro {
  background-image:url("../../q1/pictures/title.gif");
}

.txt-mid-cente {
  margin: -100px 0px 0px -100px;
  width: 600px;
  height: 500px;
  text-align: center; 
  position: relative;
  font-smoothing: antialiased;
}


.speaker {
  background-image: url(../pictures/speaker.png);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100% 0;
  height: 32px;
  width: 30px;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 10px;
  text-align:right;
  margin-left: 96%;
}

.speakerplay {
  background-position: 0 0;
  text-align:right;
}
